@import '../../styles/abstracts/mixins.scss';

.header {
    display: flex;
    align-items: flex-end;
    margin-top: 84px;

    @media(min-width: 1024px) {
        margin-top: 140px;
    }

    @include tablet {
        align-items: normal;
    }
    
    .goldbg {
        display: block;
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
        background-image: linear-gradient(#F2D780, #CA8E34);
        position: absolute;
        top: 0;
        z-index: -1;

        @include tablet {
            clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
        }
    }   
}
