
.container {
    @include fullhd() {
        max-width: 1280px;   
    }

    @include desktop() {
        max-width: 960px;
    }

    @include widescreen() {
        max-width: 1152px;
    }

    @include tablet() {
        max-width: 95%;
    }

    @include mobile() {

    }
}