
.container {
    margin: 0 auto;

    @include fullhd() {
        max-width: 1280px;   
    }

    @include desktop() {
        max-width: 960px;
    }

    @include widescreen() {
        max-width: 1152px;
    }

    @include tablet() {
        max-width: 95%;
    }

    @include mobile() {

    }
}

.font-primary {
    font-family: 'Julius Sans One', sans-serif;
}

.font-bold {
    font-weight: bold;
}

.color-dark {
    color: var(--dark);
}

.color-light {
    color: var(--light);
}

.color-primary {
    color: var(--primary);
}

.color-secondary {
    color: var(--secondary);
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}
