@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import './abstracts/mixins.scss';
@import './abstracts/base.scss';
@import './abstracts/utils.scss';


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
